<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Empleados</title>
</head>
<body>

<h2>Lista de empleados</h2>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Email</th>
            <th>Nombre completo</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="w : ${workers}">
            <td th:text="${w.id}"></td>
            <td th:text="${w.username}"></td>
            <td th:text="${w.email}"></td>
            <td th:text="${w.fullName}"></td>
        </tr>
    </tbody>
</table>

<h3>Crear nuevo empleado</h3>
<form th:action="@{/admin/employees/create}" method="post">
    <input placeholder="Usuario" name="username" required>
    <input placeholder="Contraseña" name="password" type="password" required>
    <input placeholder="Email" name="email" required>
    <input placeholder="Nombre completo" name="fullName" required>
    <button type="submit">Crear empleado</button>

</form>


</body>
</html>


